
[submodule "abstract-machine"]
	path = abstract-machine
	url = git@github.com:NJU-ProjectN/abstract-machine.git
	branch = ysyx2204

[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:NJU-ProjectN/fceux-am.git
	branch = ics2021

[submodule "nvboard"]
	path = nvboard
	url = git@github.com:NJU-ProjectN/nvboard.git
	branch = master
[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:NJU-ProjectN/am-kernels.git
	branch = ics2021
